@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/graphik");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h3,
    h3,
    h4,
    h5,
    h6,
    p {
        @apply -tracking-[.02em];
    }
}
.wider-tracking {
    @apply -tracking-[.04em];
}

.css-1xc3v61-indicatorContainer {
    color: #000 !important;
}

html {
    scroll-behavior: smooth;
}

.input-form {
    @apply bg-transparent text-white font-inter font-medium text-xl;
}

.food-serving-bg {
    background-image: url("../images/services/food-services/food-serving-bg.png");
}

.circle {
    @apply h-96;
}

.bg-food-bg-line {
    @apply bg-[url("../images/services/food-services/food-serving-bg-sm.png")] md:bg-[url("../images/services/food-services/food-serving-bg.png")]   bg-no-repeat  bg-right-top  md:bg-right;
}

.bg-our-services {
    background-image: url("../images/services/bg-services.png");
    background-position: center;
    background-size: cover;
}

.css-t3ipsp-control {
    border: none !important;
}

.react-select__menu {
    @apply !z-[9999];
}

.web-cam {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.video {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -125px;
    left: -125px;
}

.video-player {
    border-radius: 100%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.video-circle {
    border-radius: 50%;
    object-fit: cover;
}

.seat_chair_row {

}

.seat_chair_column {

}

.seat_chair {
    @apply absolute z-50 ;
}

.seat_chair_icon {
    @apply absolute z-10;
}
.react-tel-input{
 @apply !font-inter;
}
.react-tel-input .form-control{
    @apply !w-full !text-base !h-10;
}
.seat_chair_code {
    @apply absolute z-50  left-1/2 -translate-x-1/2  text-lg text-red-50  font-bold font-inter top-1/2 -translate-y-2/3;
}