@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/graphik");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h3,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply tracking-tight;
  }
}
.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}
html {
  scroll-behavior: smooth;
  letter-spacing: -2%;
}
.input-form {
  @apply bg-transparent text-white font-inter font-medium text-xl;
}
.food-serving-bg {
  background-image: url("../images/services/food-services/food-serving-bg.png");
}
.circle {
  @apply h-96;
}
.bg-food-bg-line {
  background-image: url("../images/services/food-services/food-serving-bg.png");
}
.bg-our-services {
  background-image: url("../images/services/bg-services.png");
  background-position: center;
  background-size: cover;
}
.css-t3ipsp-control {
  border: none !important;
}
